body{
	width: 760px; 
	background-color: black; 
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; 
}
div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
}
.weather{
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.weather-loc{
    font-size: 18px;
}

.weather-temp{
    float:left;
}
.weather-temp::before{
    content: 'Currently ';
}

.weather-humidity{
    float: right;
}
.weather-humidity::before{
    content: 'Humidity: ';
}
.weather-humidity::after{
    content: '%';
}